.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 1440px;
    height: 900px;
    background-color: #000;
    .price__tables {
        display: flex;
        justify-content: space-between;
        width: 1170px;
        .price-card {
            width: 380px;
            height: 770px;
            background: #334247;
            box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
            &__title {
                display: flex;
                flex-direction: column;
                margin: 0 auto;
                padding: 0;
                width: 100px;
                height: 67px;
                margin-top: 30px;
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                font-size: 35px;
                line-height: 43px;
                text-align: center;
                color: #FFFFFF;
                &-sub {
                    font-size: 20px;
                    font-weight: 300;
                    line-height: 24px;
                }
            }
            &__price {
                font-family: 'Montserrat', sans-serif;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 36px;
                width: 380px;
                height: 104px;
                font-weight: 700;
                font-size: 55px;
                line-height: 104px;
                text-align: center;
                color: #FFFFFF;
                background-color: #5BB189;
            }
            &:nth-child(2){
                .price-card__price{
                background-color: #3A6BA5;
                }
            }
            &:nth-child(3){
                .price-card__price{
                background-color: #EC632A;
                }
            }

            &__description {
                margin: 39px 26px 0;
                font-weight: 300;
                font-size: 15px;
                line-height: 18px;
                text-align: center;
                color: #FFFFFF;
            }
            .options-list {
                margin-top: 42px;
                width: 100%;
                padding: 0;
                list-style-type: none;
                &__item {
                    display: flex;
                    align-items: center;
                    height: 50px;
                    padding-left: 22px;
                    font-size: 15px;
                    line-height: 18px;
                    font-weight: 300;
                  }
                &__item-text {
                    margin-left: 22px;
                    color: #fff;
                  }
              }
              .options-list__item:nth-child(odd) {
                background: #2A343880;
              }
              .icon-list-item {
                display: inline-block;
                height: 13px;
                width: 15px;
            }

              &:nth-child(1){
                .icon-list-item{
                    background-image:url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png');
                }
            }
            &:nth-child(2){
                .icon-list-item{
                 background-image:url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png');
                }
            }
            &:nth-child(3){
                .icon-list-item{
                background-image:url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png');
                }
            }

            &__order-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                margin-top: 37px;
                margin-bottom: 42px;
                width: 155px;
                height: 40px;
                font-size: 15px;
                font-weight: 400;
                line-height: 17px;
                background: #5BB189;
                border-radius: 20px;
                border: none;
                color: #fff;
            }
            &:nth-child(2) {
                .price-card__order-btn {
                    background-color:  #3A6BA5;
                }
            }
            &:nth-child(3) {
                .price-card__order-btn {
                    background-color: #EC632A;
                }
            }
        }
    }
}

.popular {
    position: relative;
    overflow: hidden;

    &::before {
        content: 'popular';
        position: absolute;
        height: 25px;
        width: 147px;
        right: -30px;
        top: 30px;
        font-size: 14px;
        line-height: 25px;
        font-weight: 700;
        text-align: center;
        vertical-align: middle;
        text-transform: uppercase;
        transform: rotate(45deg);
        color: #FFFFFF;
        background: #DC3F45;
    }

}
